article {
    text-align: justify;
    font-size: 10px;
    background-color: #000000;
}

article h2 {
    font-size: 15px;
}



article ul li {
    list-style-type: square;
}


div {
    background-color: black;
}

div img {
    float: left;
    padding: 10px;
    width: 300px;
}

