header {
    background-image: url(design/beer-new_401732638.jpg);
    height: 300px;
    background-size: cover;
    font-weight: bold;
    font-family: Garamond;
    letter-spacing: 4px;
    font-size: 32px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}
